// ------------------------------
// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling
//

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------
.course-info {

    .details {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span,
        a {
            font-family: $font-family-sans-serif;
        }
    }
}

[class^='wrapper'] {

    .view-dashboard & {
        width: auto;
    }

    &:after {
        .view-dashboard & {
            content: none;
        }
    }
}

.dashboard {

    .side-container {

        .sidebar-notification {

            .profile-sidebar {

                .user-info {

                    .status-note {

                        strong {
                            word-break:  break-all;
                        }
                    }
                }
            }
        }
    }
}


.alert-main {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 20px;
    text-align: center;

    &:not(.pattern-library-shim) {
        max-width: none;
        min-width: 0;
        box-shadow: none;
    }

    &.alert-warning {
        background: $orange-color;
        color: $white;
        border-color: $orange-color;
    }
}


// ------------------------------
// #DEVELOPERS
// ------------------------------


// ------------------------------
// #SHAME
// ------------------------------
.verification-process .container,
.verification-process section.outside-app,
.verification-process .view-profile
.profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy,
.view-profile .profile-self .wrapper-profile-field-account-privacy .verification-process .u-field-account_privacy,
.verification-process .view-profile .wrapper-profile-sections,
.view-profile .verification-process .wrapper-profile-sections,
.verification-process .view-profile .badge-set-display,
.view-profile .verification-process .badge-set-display {
    background: transparent;
}
