.instructor-dashboard-wrapper-2 {

    .request-response-error {
        word-break: break-all;
    }

    .instructor-dashboard-content-2 {
        padding: $baseline;

        .idash-section {

            .subsection-title {
                font-weight: 400;
            }
        }

        .instructor-nav {
            border-bottom: 2px solid $gray-lightest;

            .nav-item {
                margin-bottom: -2px;

                .btn-link {
                    color: $gray-mid;
                    font-weight: normal;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        color: $primary;
                        border-color: transparent;
                        border-width: 2px;
                        text-decoration: none !important;
                    }

                    &:focus {
                        outline: none;
                        text-decoration: none !important;
                    }

                    &.active-section {
                        border-width: 2px;
                        border-color: $primary;
                        color: $primary;
                        pointer-events: none;
                    }
                }
            }
        }

        .customBrowseBtn {

            .file-browse {

                .file_field {
                    background: none;
                    margin-top: 1px;
                }
            }
        }

        .submit-file-button {
            @include cz-btn;

            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .idash-section {

            h3 {
                margin-bottom: $baseline;
            }

            select {
                @include media-up(sm) {
                    min-width: 200px;
                    height: 34px;
                }
            }

            .action-primary,
            input[type="button"] {
                @include cz-btn;

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: none !important;
                }
            }

            &#course_info {

                .enrollment-wrapper {

                    table {
                        @include media-up(sm) {
                            min-width: 400px;
                        }

                        .total {
                            color: $primary;
                        }

                        caption {
                            border-bottom: 1px solid $gray-light;
                            padding: $baseline*0.5 0;
                            @include text-align(left);
                        }

                        tr {

                            th,
                            td {
                                padding: $baseline*0.5 0;
                            }

                            th {
                                font-weight: 600;
                            }

                            &:last-child {
                                border-top: 1px solid $gray-mid !important;
                                border-bottom: 1px solid $gray-mid !important;
                            }
                        }
                    }
                }

                .basic-wrapper {

                    .list-input {

                        li {

                            label {
                                display: inline-block;
                                @include media-up(sm) {
                                    min-width: 200px;
                                }
                            }

                            b {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            fieldset {

                label {
                    color: $text-color;
                }
            }
        }
    }

    .problem-browser {

        .btn {
            @include cz-btn;
            margin-bottom: 10px;
        }
    }

    .customBrowseBtn {

        span.enhanced-input-file {
            border-radius: $baseline;
            padding-top: 21px;
        }

        .file-browse {

            .file_field {
                top: 0;
            }

            span.browse {
                @include cz-btn;
                margin-left: $baseline*14;
            }
        }
    }

    textarea,
    input[type="text"] {
        @include cz-input;
    }

    textarea {
        min-height: 70px;
    }

    .open-response-assessment-summary,
    .open-response-assessment-main-table {
        overflow-x: auto;
        width: 100%;

        table {
            table-layout: auto;
        }
    }

    .slick-cell,
    .slick-header-column {
        box-sizing: content-box;
    }
}

#generate-exception-certificates {
    margin-top: $baseline*.5;
    margin-bottom: $baseline*.75;
}

.tip {

    &.tip-stacked {
        display: block;
        font-size: 13px;
        padding: $baseline*0.5 0;
    }
}

.certificate-invalidation-user-label{
    margin-right: 100px;
}
