## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
import waffle

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.features.colaraz_features.models import ColarazUserProfile
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<%
  unsupported_browser_alert_versions = configuration_helpers.get_value('UNSUPPORTED_BROWSER_ALERT_VERSIONS', settings.FEATURES.get('UNSUPPORTED_BROWSER_ALERT_VERSIONS'))
%>
% if waffle.switch_is_active('enable_unsupported_browser_alert'):
  <script>
    var $buoop = {
        notify:${unsupported_browser_alert_versions | n, decode.utf8},
        api:5,
        reminder:0
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>
% endif

<header class="global-header ${'slim' if course else ''}">
    % if use_cookie_banner:
        ${static.renderReact(
            component="CookiePolicyBanner",
            id="cookie-policy-banner",
            props={}
        )}
    % endif
    <div class="main-header">
        <div class="container">
            <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
            <div class="hamburger-menu" role="button" aria-label=${_("Options Menu")} aria-expanded="false" aria-controls="mobile-menu" tabindex="0">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            % if user.is_authenticated:
                <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
            % else:
                <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
            % endif
        </div>
    </div>
    <div class="mobile-menu hidden" aria-label=${_("More Options")} role="menu" id="mobile-menu"></div>
    % if user.is_authenticated:
        <% 
            protocol = getattr(settings, 'COLARAZ_DOMAIN_PROTOCOL', 'http')
            identifier = user.colaraz_profile.site_identifier 
            domain = settings.COLARAZ_SUB_DOMAIN
            user_urls = user.colaraz_profile.role_based_urls

            colaraz_ecosystem_url = '{}://{}.{}/cvsocial/activity?{}'.format(protocol, identifier, domain, user_urls.get('ecosystem')) if user_urls.has_key('ecosystem') else '#'
            colaraz_recruiting_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('recruiting')) if user_urls.has_key('recruiting') else '#'
            colaraz_management_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('management')) if user_urls.has_key('management') else '#'
            colaraz_performance_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('performance')) if user_urls.has_key('performance') else '#'
            colaraz_development_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('development')) if user_urls.has_key('development') else '#'
            colaraz_settings_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('settings')) if user_urls.has_key('settings') else '#'
            colaraz_recommendations_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('recommendations')) if user_urls.has_key('recommendations') else '#'
            colaraz_mentoring_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('mentoring')) if user_urls.has_key('mentoring') else '#'
            colaraz_scholarship_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('scholarship')) if user_urls.has_key('scholarship') else '#'
        %>
    <div class="header-navigations">
        <nav class="primary-navigation">
            <div class="container">
                <strong class="cz-logo">
                    <img src="${static.url('images/colaraz-logo.svg')}" alt="${_("{platform_name}").format(platform_name=static.get_platform_name())}"/>
                </strong>
                <button type="button" class="navmenu-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <ul>
                    <li><a href="${colaraz_ecosystem_url}"><span class="ecosystem-link"></span>Ecosystem</a></li>
                    <li><a href="${colaraz_recruiting_url}"><span class="recruiting-link"></span>Recruiting</a></li>
                    <li><a href="${colaraz_management_url}"><span class="projects-link"></span>Management</a></li>
                    
                    % if configuration_helpers.get_value('COMPANY_TYPE') == 'enterprise plus':
                    <li><a href="${colaraz_performance_url}"><span class="talent-link"></span>Performance</a></li>
                    % endif
                    <li class="active"><a href="${colaraz_development_url}"><span class="development-link"></span>Development</a></li>
                </ul>
            </div>
        </nav>
        <nav class="secondary-navigation">
            <div class="container">
                <button type="button" class="navmenu-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <ul>
                    <li><a href="${colaraz_recommendations_url}">Recommendations</a></li>
                    <li><a href="${colaraz_mentoring_url}">Mentoring</a></li>
                    <li><a href="${colaraz_scholarship_url}">Scholarship</a></li>
                    <li class="active"><a href="//${'{}'.format(configuration_helpers.get_value('LMS_BASE'))}">e-Learning</a></li>
                </ul>
            </div>
        </nav>
    </div>
    % endif
</header>

% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
    <% languages = released_languages() %>
    % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <label><span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
    % endif
% endif