<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
  from django.conf import settings
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from student.roles import GlobalStaff

  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
  %>
  
  <% 
  protocol = getattr(settings, 'COLARAZ_DOMAIN_PROTOCOL', 'http')
  identifier = user.colaraz_profile.site_identifier 
  domain = settings.COLARAZ_SUB_DOMAIN
  user_urls = user.colaraz_profile.role_based_urls
  
  colaraz_settings_url = '{}://{}.{}/{}'.format(protocol, identifier, domain, user_urls.get('settings')) if user_urls.has_key('settings') else '#'
  lms_base = configuration_helpers.get_value('LMS_BASE')
  lms_logout_url = (lms_base + reverse('colaraz_features:auth_logout_redirect')) if lms_base else '#'
%>

% if uses_pattern_library:
<div class="wrapper-user-menu dropdown-menu-container logged-in js-header-user-menu">
    <h3 class="title menu-title">
        <span class="sr-only">${_("Currently signed in as:")}</span>
        <span class="account-username" title="${ user.username }"><img src="${static.url('images/user-icon.png')}" alt="${ user.username }"></span>
    </h3>
    <button type="button" class="menu-button button-more has-dropdown js-dropdown-button" aria-haspopup="true"
        aria-expanded="false" aria-controls="${_(" Usermenu")}">
        <span class="icon-fallback icon-fallback-img">
            <span class="icon icon-angle-down" aria-hidden="true"></span>
            <span class="sr-only">${_("Usermenu dropdown")}</span>
        </span>
    </button>
    <ul class="dropdown-menu list-divided is-hidden" id="${_(" Usermenu")}" tabindex="-1">
        <%block name="navigation_dropdown_menu_links" >
              <li class="dropdown-item item has-block-link">
                <a href="/">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</a>
              </li>
          </%block>
          <li class="nav-item item has-block-link">
            <a class="action" href="${colaraz_settings_url}">${_("Settings")}</a>
          </li>
          <li class="dropdown-item item has-block-link">
            <a class="action action-signout" href="//${lms_logout_url}">${_("Sign Out")}</a>
          </li>
      </ul>
  </div>

% else:
  <h3 class="title">
    <span>
      <span class="label-prefix sr-only">${_("Currently signed in as:")}</span>
      <span class="account-username" title="${ user.username }"><img src="${static.url('images/user-icon.png')}" alt="${ user.username }"></span>
    </span>
  </h3>
  <div class="wrapper wrapper-nav-sub">
    <div class="nav-sub">
      <ul>
        <li class="nav-item nav-help">
          <a href="/"><strong>Help</strong></a>
        </li>
        <li class="nav-item item has-block-link">
          <a class="action" href="${colaraz_settings_url}">${_("Settings")}</a>
        </li>
        <li class="nav-item nav-account-signout">
          <a class="action action-signout" href="//${lms_logout_url}"><span class="fa fa-sign-out"></span>${_("Logout")}</a>
        </li>
      </ul>
    </div>
  </div>
% endif
