// ====================
// Courseware Header
// ====================
.content-wrapper {

    .course-tabs {
        font-size: 14px;

        .navbar-nav {
            @include margin-left(0);

            .nav-item {
                margin-bottom: 0;

                .nav-link {
                    border-bottom: 0;
                    color: $gray;
                    position: relative;
                    padding: 13px 15px;

                    &:before {
                        position: absolute;
                        content: ".";
                        left: -2px;
                        top: 13px;
                        color: $gray-mid;
                    }

                    &:hover {
                        color: $gray-mid;
                    }
                }

                &:first-child {

                    .nav-link {

                        &:before {
                            display: none;
                        }
                    }
                }

                &.active {

                    .nav-link {
                        font-weight: 700;
                        color: $gray-mid;
                    }
                }
            }
        }
    }
}
