// ====================
// Dashbaord
// ====================
.find-courses,
.university-profile {
    background: transparent;
}

.container {

    &.main-wrapper {

        &,
        .view-in-course & {
            padding-top: 28px;
            max-width: $container-default; // Override mehtod couldn't find to update through bootstrap for discussion
        }
    }

    &.about {
        line-height: 1.5;
        font-size: 15px;

        h2, h3 {
            font-family: $heading-font;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 30px;
            color: $text-color;
        }
        h3 {
            font-size: 26px;
        }
    }
}

.side-widget {
    @import './bootstrap/scss/progress';
    padding: $baseline*.75 $baseline;
    margin-bottom: $baseline*0.5;
    background: $gray-darker;
    border-radius: $baseline*0.25;

    &.side-nav {
        padding: 0;
    }
}

.side-profile {
    font-size: 12px;

    .side-profile-row {
        @include clearfix;

        span {
            display: block;
        }
    }

    .user-name {
        color: white;
        padding: $baseline*.15 0;
    }

    .progress-result,
    .designation {
        color: $secondary;
    }

    .avatar {
        border-radius: $border-radius*2;
        border: 1px solid #EBEBEB;
        overflow: hidden;
        @include box(42px);
        @include float(left);
        @include margin(0, 15px, 10px, 0);

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .progress {
        height: 20px;
        margin: 0 0 $baseline*.2;
    }
}

.side-nav {
    font-size: 14px;

    ul {
        @extend %list;
        margin: 0;

        li {
            color: $gray;
            border-top: 1px solid #282729;

            &:first-child {
                border-top: 0;
            }

            a {
                display: block;
                padding: $baseline*.75 $baseline;

                &:not(.btn),
                &:visited:not(.btn) {
                    color: $gray;
                    text-decoration: none;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            &.active {

                a {

                    &:not(.btn),
                    &:visited:not(.btn) {
                        color: $primary;
                    }
                }
            }
        }
    }
}

.dashboard-search-bar {
    @include float(right);

    label {
        display: none;
    }

    .search-field {
        border-radius: $baseline;
    }

    .search-button {
        min-width: 0;
        border-radius: 0 $baseline $baseline 0;

        &:hover {
            border-radius: 0 $baseline $baseline 0;
        }
    }
}

.dashboard-header {
    padding-top: 20px;
    @include clearfix;

    h1 {
        font-size: 24px;
        margin-bottom: 0;
        @include float(left);
    }
}

.main-wrapper {

    .side-container {
        margin: 0;
        min-width: 0;
        max-width: none;
        padding: 0;
        float: none;
        border: 0;
        background: transparent;
        display: block;
        box-shadow: none;
        @include media-up(sm) {
            @include float(left);
            width: 17.545%;
        }
    }

    .content-wrapper {
        padding: 0 25px;
        border-radius: $border-radius * 3;
        background: $main-content-bg;
        margin: 0 auto $baseline*2;
        float: none;
        overflow: hidden;
        @include media-up(sm) {
            @include float(right);
            width: 81.5%;
        }
    }
}

.dashboard {
    display: block;

    .main-container {
        padding: 0;
    }

    .profile-sidebar {
        margin-bottom: $baseline*1.5;

        ul {
            border: none;
            margin: 0;
            padding: 0;

            .status-verification {
                background: $gray-lightest;
                border-top: 2px solid $warning-color;
                padding: $baseline;
                @include media-up(md) {
                    display: flex;
                    align-items: center;
                    padding: $baseline $baseline*1.5;
                }

                .status-title {
                    font-family: $heading-font;
                    font-weight: bold !important;
                    @include media-up(md) {
                        width: 350px;
                    }

                    .fa {
                        color: $warning-color;
                        font-size: 20px;
                        @include margin-right($baseline*0.25);
                    }
                }

                .status-note {
                    flex-grow: 1;
                    line-height: 1.6;
                    margin: 0;
                    padding: 0;
                    @include media-up(md) {
                        font-size: 14px;
                    }

                    strong {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .my-courses {

        .empty-dashboard-message {
            background: $gray-lightest;
            border: none;

            p {
                font-size: 20px;
            }

            .btn {
                background: $primary;
                box-shadow: none;

                &:hover {
                    background: darken($primary, 5%);
                }
            }
        }

        .listing-courses {

            .course-item {
                margin-bottom: $baseline*0.75;
                padding-bottom: $baseline*0.75;

                .course-container {
                    border-color: $gray-mid-border;
                    border-radius: $baseline*.25 !important;

                    .course {

                        .details {
                            @include padding-left($baseline*0.75);
                            @include padding-right($baseline*0.75);
                            position: relative;
                            @include media-up(sm) {
                                @include padding-left(220px);
                                @include padding-right(0);
                            }
                            @include media-up(md) {
                                @include padding-left(240px);
                            }

                            .wrapper-course-image {
                                background: $gray-lightest;
                                display: block;
                                float: none;
                                margin: 0;
                                height: 130px;
                                max-height: none;
                                border-radius: $baseline*.25 0 0 $baseline*.25;
                                width: calc(100% + #{$baseline*1.5} );
                                @include margin-left(-$baseline*0.75);
                                @include margin-right(-$baseline*0.75);
                                @include media-up(sm) {
                                    height: 100%;
                                    margin: 0 auto;
                                    width: 200px;
                                    position: absolute;
                                    @include left(0);
                                    top: 0;
                                }
                                @include media-up(md) {
                                    width: 220px;
                                }

                                a {
                                    height: 100%;
                                    width: 100%;
                                    font-size: 12px;

                                    img {
                                        height: 100%;
                                        object-fit: cover;
                                        width: 100%;
                                    }
                                }
                            }

                            .wrapper-course-details {
                                display: block;
                                margin-bottom: $baseline*0.75;
                                @include media-up(sm) {
                                    display: flex;
                                    @include media-up(md) {
                                        margin-bottom: $baseline;
                                    }
                                }

                                .course-title {
                                    @include padding-right($baseline*0.75);
                                    @include media-up(sm) {
                                        margin-bottom: $baseline*1.5;
                                        padding-top: $baseline*0.75;
                                    }
                                    @include media-up(md) {
                                        @include padding-right($baseline);
                                    }

                                    a {
                                        color: $gray-mid;
                                        font-size: 16px;
                                        @include media-up(sm) {
                                            font-size: 18px;
                                        }
                                        @include media-up(md) {
                                            font-size: 20px;
                                        }

                                        &:hover {
                                            color: $primary;
                                        }
                                    }
                                }

                                .course-info {
                                    align-self: center;

                                    .info-university,
                                    .info-course-id,
                                    .info-date-block-container .info-date-block {
                                        color: $gray-mid;
                                        font-size: 13px;
                                    }

                                    .info-university,
                                    .info-course-id,
                                    .info-date-block-container {
                                        display: block;
                                        position: relative;
                                        margin-bottom: $baseline*0.25;
                                        @include media-up(xs) {
                                            display: inline-block;
                                            @include padding-left($baseline*0.7);
                                            @include margin-left($baseline*0.5);
                                            margin-bottom: 0;
                                        }
                                        @include media-up(md) {
                                            @include padding-left($baseline*0.9);
                                            @include margin-left($baseline*0.75);
                                        }

                                        .fa {
                                            color: $gray-light;
                                            @include margin-right($baseline*0.25);

                                            &.fa-book {
                                                font-size: 115%;
                                            }
                                        }
                                    }

                                    .info-course-id,
                                    .info-date-block-container .info-date-block {

                                        &:after {
                                            @include media-up(xs) {
                                                content:'';
                                                width: 1px;
                                                height: 22px;
                                                background: $gray-lighter;
                                                position: absolute;
                                                @include left(0);
                                                top: 0;
                                                bottom: 0;
                                                margin: auto;
                                            }
                                        }
                                    }

                                    .info-university {
                                        @include margin-left(0);
                                        @include padding-left(0);
                                    }

                                    .info-date-block-container {

                                        .info-date-block {

                                            &:before {
                                                content: "\f073";
                                                color: $gray-light;
                                                display: inline-block;
                                                font-family: 'FontAwesome';
                                                @include margin-right($baseline*0.5);
                                            }
                                        }
                                    }
                                }

                                .wrapper-course-actions {
                                    margin-top: $baseline*0.75;
                                    margin-bottom: 0;
                                    @include media-up(sm) {
                                        margin-top: 0;
                                        @include margin-right($baseline*0.75);
                                    }
                                    @include media-up(md) {
                                        margin-top: 0;
                                        @include margin-right($baseline);
                                    }

                                    .course-actions {
                                        @include clearfix();

                                        .course-target-link,
                                        .enter-course {
                                            border-color: $btn-bg;
                                            background: $btn-bg;
                                            border-radius: $border-radius*5;
                                            color: $black;
                                            font-size: 14px;
                                            padding: 7px 15px 2px;
                                            line-height: $baseline;
                                            @include float(left);
                                            @include media-down(xs) {
                                                @include margin-right($baseline*0.5);
                                            }
                                            @include media-up(sm) {
                                                @include float(right);
                                            }

                                            &:hover {
                                                background: $btn-hover-bg;
                                                border-color: $btn-hover-bg;
                                            }

                                            &:focus {
                                                background: $btn-hover-bg;
                                                border-color: $btn-hover-bg;
                                                outline: none;
                                            }
                                        }

                                        .wrapper-action-more {
                                            padding: 0;
                                            @include float(left);
                                            @include media-up(sm) {
                                                @include float(right);
                                            }

                                            .action {
                                                padding: $baseline*0.35 $baseline*0.25 $baseline*0.15;
                                                @include media-up(sm) {
                                                    @include margin-right($baseline*0.25);
                                                }
                                                @include media-up(md) {
                                                    @include margin-right($baseline*0.5);
                                                }

                                                &:focus {
                                                    outline: none;
                                                }
                                            }

                                            .actions-dropdown {
                                                min-width: 0;

                                                .actions-item {

                                                    .action-unenroll {
                                                        padding: $baseline*0.25;
                                                        white-space: nowrap;
                                                        margin: 0;

                                                        &:hover {
                                                            color: $primary;
                                                            text-decoration: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        footer.wrapper-messages-primary {

                            .messages-list {

                                .message {

                                    .action-upgrade-container {
                                        @include float(left);
                                        @include media-up(md) {
                                            @include float(right);
                                        }

                                        .action {

                                            &.action-upgrade {
                                                background: $success-color;
                                                border-radius: $border-radius;
                                                box-shadow: none;

                                                &:hover {
                                                    background: darken($success-color, 5%);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            box-shadow: 0 0 10px rgba(207, 216, 220, .8);
                            -webkit-box-shadow: 0 0 10px rgba(207, 216, 220, .8);
                            -moz-box-shadow: 0 0 10px rgba(207, 216, 220, .8);
                        }
                    }
                }
            }
        }
    }
}
