## mako
<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper-footer wrapper">
  <footer class="primary" role="contentinfo">
    <div class="copyright-area" aria-label="${_("Legal")}">
      <p class="copyright">&copy; ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year} ${_("Colaraz")}. ${_("All Rights Reserved.")}</p>
    </div>
  </footer>
</div>
