// ====================
// Open edX: LMS footer
// ====================
.wrapper-footer {
    $padding-footer: 15px;
    border-color: $primary;
    padding: 0 $padding-footer !important;
    box-shadow: none !important;
    background: $footer-bg !important;

    div & {
        border-color: $primary;
    }

    footer {
        width: auto !important;

        .grid-container {
            display: block;
            padding: 20px 0 24px;
            font-size: 14px;
            @include clearfix;
            @include media-up(sm) {
                padding: 40px 0;
            }
        }

        .footer-nav {
            text-align: center;
            padding-bottom: 15px;
            @include media-up(sm) {
                @include float(left);
                @include text-align(left);
                width: 50%;
                padding-top: 7px;
                padding-bottom: 0;
            }

            ul {
                @include list;

                li {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    padding-left: 20px;

                    &:before {
                        content: '.';
                        position: absolute;
                        top: 0;
                        left: 10px;
                        color: $primary;
                    }

                    &:first-child {

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }

        .copyright-area {
            color: $graphite;
            text-align: center;
            @include media-up(sm) {
                width: 50%;
                @include float(right);
                @include text-align(right);
            }

            a {
                font-size: 13px;
                color: $white !important;

                &:hover,
                &:focus {
                    color: $primary !important;
                }
            }

            p {
                margin: 0;
                color: $graphite;
            }
        }

        a {
            color: $graphite;

            &:visited { color: $graphite; }

            &:focus,
            &:hover {
                text-decoration: none !important;
                color: $primary !important;
            }
        }
    }
}
