// lms - Form elements
// ====================================

// * +Input fields
// * +Select dropdowns
input,
textarea,
select {
    background: $white;
    max-width: 100%;

    &:focus {
        border-color: $primary;
        outline: none;
    }
}

button {
    overflow: hidden !important;

    &.search-button {
        min-width: 70px;
    }
}

.action-primary {
    text-shadow: none;

    &:focus {
        box-shadow: none !important;
    }
}

.btn-link {

     &:hover {
        border-color: transparent;
    }
}

.select-box {
    overflow: hidden;
    border: 1px solid #E1E1E1;
    border-radius: $baseline;
    @include margin-right(10px);

    .cz-custom-select {
        background: #F8F8F8;
        border: 0;
        border-radius: $baseline;
        font-size: 12px;
        height: 27px;
        display: block;
        width: 100%;
    }
}
