.wrapper {

    #main,
    .primary,
    .header-navigations .container {
        max-width: $container-default;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &-mast,
    &-content {
        background: $white;
    }

    #main {
        padding: $baseline*2 $baseline*0.75;
        width: 100%;
    }

    &-mast {
        margin: 0;
        padding-top: $baseline;
        border-radius: $baseline*.5 $baseline*.5 0 0;
    }

    &-content {
        padding-bottom: $baseline;
        border-radius: 0 0 $baseline*.5 $baseline*.5;

        .content {
            min-width: 0;
        }
    }
}

.current-course-introduction-video {

    iframe {
        width: 100%;
    }
}

#certificates-generating-form {

    p {
        margin-bottom: 10px;
    }
}

.btn,
.button {
    box-shadow: none !important;
}

.instructor-dashboard-wrapper-2 {

    .btn-blue {
        border-radius: $baseline;
        color: $black;
    }
}

.wrapper-mast {

    .mast,
    .metadata {
        min-width: 0;

        &.has-actions {

            .page-header {
                width: 38%;
                @include margin-right(2%);

                .text {
                    display: block;
                    font-weight: 400;
                    font-size: $baseline;
                    line-height: $baseline*1.25;
                    padding-top: $baseline*0.5;
                }
            }

            .nav-actions {
                width: 60%;

                .nav-item {
                    @include margin-right(3px);
                }
            }
        }
    }
}

.unit-id-value {
    word-break: break-all;
}

.view-textbooks {

    .textbook {

        .field {

            .action-upload {
                font-size: 11px;
                background: $btn-bg !important;
                border-color: $btn-bg !important;
                color: $black !important;

                &:hover {
                    background: $btn-hover-bg !important;
                    border-color: $btn-hover-bg !important;
                }
            }
        }

        .chapters-fields {

            .field-group {
                position: relative;
            }
        }

        .action-close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

#root {

    &.SFE {

        .col-1 {
            min-width: 80px;
        }

        #table-contents {
            flex: 0 0 100%;
            max-width: 100%;

            .table {
                font-size: 13px;
            }
        }

        a.status-link {
            color: $primary;
            text-decoration: none;

            &:hover {
                color: darken($primary, 10%);
            }
        }

        a.btn-primary {
            background: $btn-bg;
            border-color: $btn-bg;
            color: $black;
            font-size: 13px;
            border-radius: $baseline;

            &:hover,
            &:focus {
                background: $btn-hover-bg;
                border-color: $btn-hover-bg;
                color: $black;
            }
        }

        div.checklist-item-complete,
        div.checklist-item-incomplete {

            &:hover {
                box-shadow: -5px 0 0 0 $primary;
            }
        }

        div.checklist-item-incomplete {

            &:hover {

                .checklist-icon-incomplete {
                    color: $primary;
                }
            }
        }

        .SFE-wrapper {
            background: none !important;
        }

        .pagination {
            font-size: 13px;

            .page-item {

                .page-link {
                    color: $black;
                }

                &.disabled {

                    .page-link {
                        color: #767676;
                    }
                }

                &.active {

                    .page-link {
                        background: $btn-hover-bg;
                    }
                }
            }
        }
    }

    td,
    .drop-zone {

        .btn {
                @include cz-btn;
        }
    }
}

.view-updates{

    .main-wrapper {
        margin: 0;
        border-radius: 0 0 $baseline $baseline;

        .window {
            border-left: 0;
            border-bottom: 0;
            border-radius: 0 0 0 $baseline/2;
        }

        .course-handouts {
            border-bottom: 0;
            border-right: 0;
            border-radius: 0 0 $baseline/2 0;
        }
    }

    .wrapper-content {
        border-radius: 0;
    }
}

.view-dashboard {

    .course-item {

        .course-actions {
            width: 35%;
        }

        .course-link {
            width: 63%;
            @include margin-right(2%);
        }
    }
}

.wrapper-xblock {

    &.level-element {

        &:hover {
            border-color: $primary;
        }
    }

    .container-paging-footer {

        .pagination-full {

            &.pagination {
                width: auto;
                text-align: center;
            }
        }
    }
}

.add-xblock-component {

    .new-component-template {

        .button-component {
            color: $black !important;
        }
    }
}

.view-outline {

    .course-status {

        .status-studio-frontend {
            display: block !important;
            width: auto !important;
        }
    }
}
