.forum-search {
    display: flex;
    margin-top: $baseline;
    position: relative;

    .search-input {
        width: input-width(short);
    }

    .search-button {
        margin-left: 0;
    }

    @include media-breakpoint-up(sm) {
        @include margin-left($baseline);

        margin-top: 0;
    }

    > label {
        display: block;
        position: absolute;
        color: #495057;
        transition: all .1s ease-in-out; // sass-lint:disable-line no-transition-all
        padding-left: 10px;
        padding-top: 10px;

    }

    input {
        @include placeholder(transparent);

        &:not(:placeholder-shown) {
            & ~ label {
                padding-top: .15rem;
                font-size: 10px;
            }
        }
    }
}
